body {
  overflow: hidden;
}

.pdd-sm {
  padding: 2em;
}

.post-view {
  height: 90vh;
  overflow-y: scroll;
}

.post-view * {
  margin-bottom: 1em;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
